* {
    /*complementar o expaco do aside*/
    box-sizing: border-box;
}

header {
    /*Alinhamento do texto ao centro */
    text-align: center;
    /*Cor do fundo*/
    background: rgb(182, 3, 107);
    /*Espaco interno*/
    padding: 30px;
}

header h1 {
    /*Alter o tamento da font*/
    font-size: 50px;
    /*Alterar a cor do texto*/
    color: white;
}

body {
    /*Alter a fonte*/
    font-family: Arial, Helvetica, sans-serif;
    /*espoco externo*/
    margin: 0;
    background: #f1f1f1;
}

nav ul {
    /*tirar os marcador da lista*/
    list-style-type: none;
    /*Alterr a cor de fundo*/
    background-color: rgb(21, 4, 98);
    /*complentar o elemento flutuante do nav li float*/
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    /*Tirar o sublinhados dos links*/
    text-decoration: none;
    /*separar o item do menu*/
    padding: 16px;
    /*considerar a altura e largura do elemento*/
    display: block;
}

nav li {
    /*deixar os links flutuando a esquerda*/
    float: left;
    /*coml*/
}

nav a:hover {
    background-color: white;
    color: rgb(21, 4, 98);
}

img {
    width: 100%;
}

.row {
    /*O primeiro valor é referente a cima e baixo e o segundo a direita e esquerda*/
    padding: 0 20px;
    /*Forma de organizar os elementos como tabela*/
    display: table;
}

section {
    /*alinhado para esquerda */
    float: left;
    width: 75%;
}

aside {
    float: left;
    width: 25%;
    /*espaco interno apenas a esquerda*/
    padding-left: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    /*Margem Superior*/
    margin-top: 20px;
}